@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

body::-webkit-scrollbar {
  display: none;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .subtleText:nth-child(1) {
    animation: slideToRight 2s ease forwards;
    animation-duration: 0.8s;
  }
  .subtleText:nth-child(3) {
    animation: slideToRight 2s ease forwards;
    animation-duration: 1.2s;
  }
  .myName {
    animation: slideToTop 2s ease backwards;
    animation-duration: 0.7s;
    animation-delay: 0.8s;
  }
  .description {
    animation: slideToLeft 0.2s ease forwards;
    animation-duration: 1.2s;
  }
  .socials {
    animation: slideToBottom 0.2s ease backwards;
    animation-duration: 1.5s;
  }
  .cvBtn {
    animation: slideToLeft 0.2s ease backwards;
    animation-duration: 1.5s;
  }
  .img {
    opacity: 0;
    animation: zoomIn 0.2s ease forwards, float .4s ease-in-out infinite;
    animation-duration: 1s, 4s;
  }
  .intro {
    animation: slideToRight .2s ease-in-out;
    animation-duration: .7s;
  }
}

@keyframes slideToRight {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideToTop {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideToLeft {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideToBottom {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes zoomIn {
  0% {
    scale: 0;
    opacity: 0;
    transform: rotate(45deg);
  }
  100% {
    scale: 1;
    opacity: 1;
    transform: rotate(0deg);
  }
}
@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-14px);
  }
  100% {
    transform: translateY(0);
  }
}
